.small-button-dark {
  background-color: $color-5;
  color: $color-2;
  padding: 7px;
  border-color: $color-5;
  width: 70px;
  margin: 0.5em;
}

.small-button-white {
  background-color: white;
  color: $color-5;
  padding: 7px;
  border-color: $color-5;
  width: 70px;
  margin: 0.5em;
}

.medium-button-dark {
  background-color: $color-5;
  color: $color-2;
  padding: 10px;
  border-color: $color-5;
  margin: 0.5em;
}

.medium-button-white {
  background-color: white;
  color: $color-5;
  padding: 10px;
  border-color: $color-5;
  margin: 0.5em;
}

.large-button-dark {
  background-color: $color-5;
  color: $color-2;
  padding: 10px;
  border-color: $color-5;
  width: 370px;
  margin: 0.5em;
}

.large-button-white {
  background-color: white;
  color: $color-5;
  padding: 10px;
  border-color: $color-5;
  width: 370px;
  margin: 0.5em;
}

.small-large-button-dark {
  background-color: $color-5;
  color: $color-2;
  padding: 7px;
  border-color: $color-5;
  width: 370px;
  margin: 0.5em;
}

.small-large-button-white {
  background-color: white;
  color: $color-5;
  padding: 7px;
  border-color: $color-5;
  width: 370px;
  margin: 0.5em;
}
