@import './amauryCSS/index.scss';

body {
  background: $color-5;
}

.main-content {
  background: $color-white;
  padding: 4em;
}

.main-footer {
  background: $color-2;
}

.document-header {
  padding: 3em;
}

.document-footer {
  padding: 3em;
}

blockquote {
  border-left: 4px solid $color-2;
}

table {
  width: 100%;
  margin-bottom: 3em;
}

tr:nth-child(odd) {
  background: $color-2;
}

#default-first-line {
  background: $color-white;
}

#default-last-line {
  background: $color-white;
}

#alternate-first-line {
  background: $color-white;
}

#alternate-last-line {
  background: $color-white;
}

.div-img {
  width: 100%;
}

.div-form {
  width: 100%;
}

.padding-img-type1 {
  padding-right: 2em;
  padding-bottom: 1em;
}

.padding-img-type2 {
  padding-left: 2em;
  padding-bottom: 1em;
}

#footer-info {
  color: $color-2;
}

#generic-page-img {
  margin-top: 2.5em;
  margin-bottom: 2em;
}

.div-padding {
  padding: 2em;
}
